<div class="footer-top">
    <h5> Creative HTML5 portfolio template </h5>
    <img src="/assets/images/logo-light.png">
    <h5 class="nk">Social Networks : <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i></h5>
</div>
<div class="footer-body">
    <div class="about-us">
<h5>About us</h5>
<hr>
<p class="hu">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint error ea incidunt soluta assumenda optio consectetur voluptatem tempora expedita nam.</p>
<p class="inl">subscribe newsletter</p>
<hr>
<div class="hjk">
<input type="text" placeholder="Email*"><div class="po"><i class="fa fa-envelope"></i></div>
</div>   
</div>
   <div class="blog-posts">
       <h5>latest blog posts</h5>
       <hr>
       <div class="lst">
           <div class="itm">
<div class="im-w">
    <img src="/assets/images/blog-recent-2.jpg" class="img-fluid">
</div>
<div class="nbn">
<h6>Good design is obvious</h6>
<p>25 April 2019|by Alex Gray</p>
</div>
           </div>
           <div class="itm">
            <div class="im-w">
                <img src="/assets/images/blog-recent-1.jpg" class="img-fluid">
            </div>
            <div class="nbn">
            <h6>Guide to UX prototyping</h6>
            <p>25 April 2019|by Alex Gray</p>
            </div>
                       </div>
                       <div class="itm">
                        <div class="im-w">
                            <img src="/assets/images/blog-recent-3.jpg" class="img-fluid">
                        </div>
                        <div class="nbn">
                        <h6>Social Media Today</h6>
                        <p>25 April 2019|by Alex Gray</p>
                        </div>
                                   </div>
       </div>
   </div>
   <div class="contact-info">
       <h5>Contact info</h5>
       <hr>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur mollitia, possimus modi minus aliquid rem voluptatem? Minima ullam numquam dolorem!</p>
   <div class="mklf">
       <p><i class="fa fa-map-marker"></i>123 North West,Florida,USA</p>
       <p><i class="fa fa-envelope"></i>example@domain.com</p>
       <p><i class="fa fa-phone"></i>1-800-222-000</p>
   </div>
    </div>
</div>
<div class="footer-bottom">
<p class="fty">@2019 Lester. All rights reserved.</p>
</div>