.we{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.aqw{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h5{
    font-size: 14px;
    text-transform: uppercase;
    color:gray;
}
.left h1{
text-align: center;
font-size: 64px;
}
.left:hover h5{
    color:#ee3158;
    font-weight: bold;
}
.left:hover h1{
    color:#ee3158;
    font-weight: bold;
}
.right:hover h1,.right:hover h5{
    color:#ee3158;
    font-weight: bold;
}
.middle:hover h1,.middle:hover h5{
    color:#ee3158;
    font-weight: bold;
}
.right h1{
    text-align: center;
    font-size: 64px;
}
.middle h1{
    text-align: center;
    font-size: 64px;
}

.zxc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.we div{
    width: 1px;
    height: 150px;
    margin:10px 250px;
    background:gray;
}