<div class="fg">
<button class="active">show all</button>
<button>branding</button>
<button>design</button>
<button>packaging</button>
<button>advertising</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup1.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup2.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup3.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup4.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup5.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup6.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup11.jpg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/assets/images/mockup12.jpg" class="img-fluid">
        </div>
    </div>
</div>