.fg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fg button{
border:1px solid gray;
border-radius: 20px;
background:#fff;
color:#000;
font-size: 16px;
padding:5px 20px;
margin:5px 5px;
}
.fg .active{
    color:#fff;
    background:#ee3158;
    border:none;
}
.col-xl-4{
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 5px;
}