h1{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 40px;
}
div img{
    border-radius: 5px;
}
.nnp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 33%;
    padding:20px;
}
.nnp h1{
    color:#ee3158;
    font-size: 54px;
    margin:0;
}
.lst{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nb h4{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: capitalize;
}
.nb p{
    color:#666;
    margin-left: 10px;
}
@media (max-width:567px){
    .lst{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nnp{
        width: auto;
    }
}
@media (min-width:568px) and (max-width:767px){
    .lst{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nnp{
        width: auto;
    }
}
@media (min-width:768px) and (max-width:991px){
    .lst{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nnp{
        width: auto;
    }
}