<h1>What we do</h1>
<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <img src="/assets/images/about-creative-1.jpg" class="img-fluid">
        </div>
        <div class="col-xl-4">
            <img src="/assets/images/about-creative-2.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="lst">

       
            <div class="nnp">
                <h1>01.</h1>
                <div class="nb">
                    <h4>Creativity.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iure dolor saepe nobis distinctio quo.</p>
                </div>
            </div>
            <div class="nnp">
                <h1>02.</h1>
                <div class="nb">
                    <h4>discover talents</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iure dolor saepe nobis distinctio quo.</p>
                </div>
            </div>
            <div class="nnp">
                <h1>03.</h1>
                <div class="nb">
                    <h4>expert analysis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iure dolor saepe nobis distinctio quo.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
