<h1>Digital Services</h1>
<p>we are delivering beautiful digital products for you</p>
<div class="nnn">
<div class="nn">
    <div class="im-wr">
        <i class="fa fa-wrench"></i>
</div>
<div class="no">
    <h3>Web Development</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab est accusamus explicabo?</p>
</div>
</div>
<div class="nn">
    <div class="im-wr">
        <i class="fa fa-paint-brush"></i>
</div>
<div class="no">
    <h3>pixel perfect design</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab est accusamus explicabo?</p>
</div>
</div>
</div>
<div class="nnn">
<div class="nn">
    <div class="im-wr">
        <i class="fa fa-bookmark"></i>
</div>
<div class="no">
    <h3>branding</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab est accusamus explicabo?</p>
</div>
</div>
<div class="nn">
    <div class="im-wr">
        <i class="fa fa-cog"></i>
</div>
<div class="no">
    <h3>App Development</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab est accusamus explicabo?</p>
</div>
</div></div>