<div class="container">
<div class="test">
<div class="im-wr">
    <img src="/assets/images/two-side-img-2.jpg" class="img-fluid">
</div>
<div class="yu">
<div class="cg">
    <div class="wrp">
    <i class="fa fa-th"></i>
</div>
<div class="whj">
    <h4>Different Layout</h4>
    <p>
        Maenas aliquet mollis lectus. Vivamus conctetuer risus et tortor lorem in, nibh ipsum aptent taciti
    </p>
</div>
</div>
<div class="cg">
    <div class="wrp">
        <i class="fas fa-terminal"></i>
</div>
<div class="whj">
    <h4>Code Quality</h4>
    <p>
        Maenas aliquet mollis lectus. Vivamus conctetuer risus et tortor lorem in, nibh ipsum aptent taciti
    </p>
</div>
</div>
<div class="cg">
    <div class="wrp">
        <i class="fa fas fa-phone-volume"></i>
</div>
<div class="whj">
    <h4>Excellent Support</h4>
    <p>
        Maenas aliquet mollis lectus. Vivamus conctetuer risus et tortor lorem in, nibh ipsum aptent taciti
    </p>
</div>
</div>
</div>
</div>
</div>