<div class="recent">
    <h1>recent posts</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="qw">
                    <div class="immk">
                        <img src="/assets/images/img-blog-1.jpg" class="img-fluid">
                        <p class="tag">Modern</p>
                    </div>
                    <h4>Web Design trends</h4>
                    <p>Lorem ipsum alias quas, sed velit dolore laboriosam maiores ad reiciendis quod ex, aliquid eaque culpa in quidem qui. Saepe harum placeat illum non!<span>[...]</span></p>
               <hr>
               <div class="bt">
<div class="dt">
    <i class="fa fa-car"></i>
    <p>April 25,2019</p>
</div>
<div class="bni">
<div class="msg">
    <p><i class="fa fa-comment"></i>26</p>
</div>
<div class="lov">
<p><i class="fa fa-heart"></i>15</p>
</div>
</div>
               </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="qw">
                    <div class="immk">
                        <img src="/assets/images/img-blog-2.jpg" class="img-fluid">
                        <p class="tag">Lifestyle</p>
                    </div>
                    <h4>Guide to UX prototyping</h4>
                    <p>Lorem ipsum alias quas, sed velit dolore laboriosam maiores ad reiciendis quod ex, aliquid eaque culpa in quidem qui. Saepe harum placeat illum non!<span>[...]</span></p>
               <hr>
               <div class="bt">
<div class="dt">
    <i class="fa fa-car"></i>
    <p>April 25,2019</p>
</div>
<div class="bni">
<div class="msg">
    <p><i class="fa fa-comment"></i>14</p>
</div>
<div class="lov">
<p><i class="fa fa-heart"></i>22</p>
</div>
</div>
               </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="qw">
                    <div class="immk">
                        <img src="/assets/images/img-blog-3.jpg" class="img-fluid">
                        <p class="tag">Design</p>
                    </div>
                    <h4>
                        Destinations for photos
                    </h4>
                    <p>Lorem ipsum alias quas, sed velit dolore laboriosam maiores ad reiciendis quod ex, aliquid eaque culpa in quidem qui. Saepe harum placeat illum non!<span>[...]</span></p>
               <hr>
               <div class="bt">
<div class="dt">
    <i class="fa fa-car"></i>
    <p>April 25,2019</p>
</div>
<div class="bni">
<div class="msg">
    <p><i class="fa fa-comment"></i>11</p>
</div>
<div class="lov">
<p><i class="fa fa-heart"></i>17</p>
</div>
</div>
               </div>
                </div>
            </div>
        </div>
    </div>
</div>