<div class="hi">
    <div class="mcard">
        <div class="im-wr">
            <img src="/assets/images/client1.jpg" class="img-fluid">
        </div>
        <div class="cln">
        <h1>Alexandr Doe</h1>
        <p>CEO,Googel</p>
        <p class="mn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sed! Incidunt maxime consectetur iusto nobis omnis ab, sunt labore quis itaque blanditiis harum modi veritatis facere esse similique architecto quod!</p>
    </div>
    </div>
</div>