<div class="jumbotron wrapper">
    <div class="wr">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
            <div class="form-group">
                <input type="text" class="form-control" required minlength="4" #fullnameRef="ngModel" name="fullname" ngModel placeholder="Enter Your Fullname">
<div *ngIf="fullnameRef.errors && (fullnameRef.dirty || fullnameRef.touched)"
class="alert alert-danger">
<div [hidden]="!fullnameRef.errors.required">
Please enter your fullname
</div>
<div [hidden]="!fullnameRef.errors.minlength">
    Please enter at least 4 characters
    </div>
</div>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" #emailRef="ngModel" required pattern="^[a-zA-Z][a-zA-Z0-9]+@[a-zA-Z]+[.][a-zA-Z]+$" name="email" ngModel placeholder="Enter Email">
            <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)"
            class="alert alert-danger">
            <div [hidden]="!emailRef.errors.required">
            Please enter your email address
            </div>
            <div [hidden]="!emailRef.errors.pattern">
                Please enter a valid email address
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" required pattern="^[0-9]{10}$" #phoneRef="ngModel" name="phone" ngModel placeholder="Enter Phone Number">
            <div *ngIf="phoneRef.errors && (phoneRef.dirty || phoneRef.touched)"
            class="alert alert-danger">
            <div [hidden]="!phoneRef.errors.required">
            Please enter your phone number
            </div>
            <div [hidden]="!phoneRef.errors.pattern">
                Please enter valid phone number
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" required minlength="4" #passwordRef="ngModel" name="password" ngModel placeholder="Enter Password">
            <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)"
            class="alert alert-danger">
            <div [hidden]="!passwordRef.errors.required">
            Please enter your password
            </div>
            <div [hidden]="!passwordRef.errors.minlength">
                Please enter alleast 4 characters
                </div>
            </div>
        </div>
        <button class="btn btn-warning btn-register" [disabled]="!myForm.form.valid">Register</button>
        </form>
        <label class="al-have-ac" routerLink="../login">Already have an account, Login here</label>
    </div>
    </div>